{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "prefer-const": "error",
    "max-len": [
      "warn",
      {
        "code": 100
      }
    ],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ]
  }
}
